* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  height: 100vh;
  background-color: #f1f5fe;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #f1f1f1;
  box-shadow: 0px 6px 50px rgba(217, 229, 255, 0.7);
  border-radius: 20px;
  max-width: 415px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 38px;
  padding-bottom: 38px;
}
input {
  color: #3b5983;
  font-size: 14px;
  line-height: 16px;
  height: 45px;
  width: 100%;
  border: 2px solid #e9f2ff;
  border-radius: 5px;
  padding-left: 25px;
}
input:focus {
  outline: none;
  border: 2px solid #c1d9fd;
}
input.error{
  border:1px solid rgb(255, 152, 152);
}

.area {
  margin-bottom: 13px;
}
.title {
  color: #30507d;
  font-size: 25px;
  font-weight: 500;
  line-height: 23px;
  margin-bottom: 38px;
  text-align: center;
}

#btn {
  border: none;
  font-weight: bold;
  font-size: 14px;
  display: block;
  height: 45px;
  width: 100%;
  background: #247fff;
  border-radius: 5px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  line-height: 45px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0d6cf2;
}
#errorMessage {
  text-align: center;
  padding: 10px;
  color: rgb(255, 70, 70);
}
.check{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#checkbox {
  width: 15px;
  user-select: none;
}

#checkbox.error + #labelCheckbox {
  color: rgb(255, 70, 70);
}


